
.text-center {
  text-align: center;
  color: black;
  font-size: 40px;
}

.pindex {
  text-align: center;
  color: black;
  font-size: 40px;
}

.row {
  text-align: center;
  color: black;
  font-size: 40px;
}

.img-nos {
  border: 6px solid black;
  margin: 15px;
}
.img-nos:hover {
  padding: 5px;
  transform: scale(2, 2);
  transition: all 2s;
}


body {
  background-color: white;
}

.container-fluid, .h1-ind {
  background-color: #e3f2fd;
  border: 1px, solid, beige;
}
h2{
  font-style: italic;
}
.h1-ind {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin:5px;
  font-style: italic;
  font-size: 70px;
}

.img-head {
  display: flex;
  justify-content: center;
}

.pindex {
  display: flex;
  justify-content: center;
  margin: 50px;
}

footer ul{
  list-style-type: none;
}
  
footer{
  margin:20px;
}

.carousel-inner{
  border: solid 5px black;
}

.h1-ind{
  background-color: #59bfff;
  border: 5px solid black;
  text-align: center;
}

.navbar{
  border: 2px solid black;
}

